{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        .size-28{
            width: 24px;
            height: 24px;
        }
        .size-38{
            width: 38px;
            height: 38px;
        }
        .size-48{
            width: 48px;
            height: 48px;
        }
    </style>
    <script src="https://unpkg.com/feather-icons"></script>
{% endblock stylesheets %}

{% block content %}
    {{ init_charts }}   
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-4 col-md-2 col-xl-2">
                                    <div class="card daily-stats">
                                        <div class="card-block">
                                            <h6 class="mb-4">Regiones</h6>
                                            
                                            {{ regiones }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3 col-xl-3">
                                    <div class="card daily-stats">
                                        <div class="card-block">
                                            <h6 class="mb-4">Instalaciones</h6>
                                            
                                            {{ instalaciones }}
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>

                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-xl-4">
                                    <div class="card daily-stats">
                                        <div class="card-block">
                                            <h6 class="mb-4">Estadisticas del dia</h6>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <td> </td>
                                                            <td> </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!--<tr> <td> Eventos </td> <td style="text-align:right"> {{ tot_evn }}</td></tr>-->
                                                        <tr> <td> Reconocimientos </td> <td style="text-align:right"> {{ tot_rec }}</td></tr>
                                                        <tr> <td> No reconocidos </td> <td style="text-align:right"> {{ tot_evn - tot_rec }}</td></tr>
                                                        <tr> <td> Ingresos </td> <td style="text-align:right"> {{ tot_ing }}</td></tr>
                                                        <tr> <td> Salidas </td> <td style="text-align:right"> {{ tot_sal }}</td></tr>
                                                    </tbody>
                                                    
                                                </table>
                                    
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 col-xl-4">
                                    <div class="card daily-stats">
                                        <div class="card-block">
                                            <h6 class="mb-4">Estadisticas por instalación</h6>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <td> Instalacion </td>
                                                            <td> Ingresos </td>
                                                            <td> Salidas </td>
                                                            <td> Al interior </td>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% set lastSite = None %}
                                                        {% set ns = namespace() %}
                                                        {% set ns.lastSite=None %}
                                                        {% set ns.siteIng=0 %}
                                                        {% set ns.siteExit=0 %}

                                                        {% for instalacion in tot_by_ins %}
                                                            {% set siteId = instalacion.site_id %}
                                                            {%if (siteId == ns.lastSite)%}
                                                                {% set ns.siteExit = instalacion[2] %}
                                                                <tr> 
                                                                    <td style="text-align:left"> {{ instalacion.site_id }}</td>
                                                                    <td style="text-align:center"> {{ ns.siteIng }}</td>
                                                                    <td style="text-align:center"> {{ ns.siteExit }}</td>
                                                                    <td style="text-align:center"> {{ ns.siteIng - ns.siteExit }}</td>
                                                                </tr>
                                                            {% else %}
                                                                {% set ns.siteIng = instalacion[2] %}
                                                                {% set ns.lastSite = siteId %}
                                                                {% set ns.siteExit = 0 %}
                                                            {% endif %}
                                                    
                                                        {% endfor %}
                                                    </tbody>
                                                    
                                                </table>
                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-xl-4">
                                    <div class="card daily-stats">
                                        <div class="card-block">
                                            <h6 class="mb-4"> Reconocimientos por Tipo Persona</h6>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td> </td>
                                                        <td> </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for tipo in tot_by_type%}
                                                        <tr> <td> {{ tipo[0] }} </td> <td style="text-align:right"> {{ tipo[1] }}</td></tr>
                                                    {% endfor %}
                            
                                                </tbody>
                                                
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xl-12">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4"> Ingresos y Salidas del dia</h6>
                                            <table id="data" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td> Fecha/Hora </td>
                                                        <td> Instalacion </td>
                                                        <td> Tipo Evento </td>
                                                        <td> Tipo Persona</td>
                                                        <td> Nombre </td>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for event in events %}
                                                        <tr> 
                                                            <td> {{ event.server_timestamp }} </td> 
                                                            <td> {{ event.device.site_id }}</td>
                                                            {% if event.device.direction %}
                                                                <td color="green"> Entrada </td>
                                                            {% else %}
                                                                <td color="red"> Salida </td>
                                                            {% endif %}
                                                            <td> {{ event.persona.tipo_employee }}</td>
                                                            <td> {{ event.name }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>    
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <!--[ daily sales section ] start-->
                                <!--
                                <div class="col-sm-12 col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Total Ingresos</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                                                            </h3>
                                                </div>

                                                <div class="col-3 text-right">
                                                    <p class="m-b-0"></p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <!--[ daily sales section ] end-->
                                <!--[ Monthly  sales section ] starts-->
                                <!--
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Facturación mes</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>
                                                            </h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0"></p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme2" role="progressbar"
                                                        style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <!--[ Monthly  sales section ] end-->
                                <!--[ year  sales section ] starts-->
                                <!--
                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Facturación año</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                            class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                                                            </h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0"></p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <!--[ year  sales section ] end-->

                            </div>  
                           

                            

                            <div class="row">
                                <!--[ Recent Users ] start-->

                                <!--
                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Ultimas {{ n }} cuentas de cobro</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        {% for register in lf %}
                                                            <tr>
                                                                <td>{{ register.fecha_factura  | safe}}</td>
                                                                <td>{{ register.prefijo }}-{{ register.nfactura  | safe}}</td>
                                                                <td>{{ register.cliente.name  | safe}}</td>
                                                                <td>{{ register.concept  | safe}}</td>
                                                                <td style="text-align:right">{{ "${:,.2f}".format(register.valor) | safe }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <!--[ Recent Users ] end-->

                                <!-- [ statistics year chart ] start -->
                                <!--
                                <div class="col-xl-4 col-md-6">
                                    <div class="card card-event">
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h5 class="m-0">Total Clientes</h5>
                                                </div>
                                                <div class="col-auto">
                                                    <label class="label theme-bg2 text-white f-14 f-w-400 float-right"></label>
                                                </div>
                                            </div>
                                            <h2 class="mt-3 f-w-300"> {{ ct }} </h2>
                                            <h6 class="text-muted mt-4 mb-0"></h6>
                                            <i class="fab fa-angellist text-c-purple f-50"></i>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-zap f-30 text-c-green"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300"> {{ it }}</h3>
                                                    <span class="d-block text-uppercase">CC Enviadas este año</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 class="f-w-300"> {{ cty }}</h3>
                                                    <span class="d-block text-uppercase">Clientes del año</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <!-- [ statistics year chart ] end -->
                                
                                
                                <!--
                                <div class="row">
                                    <div class="col-xl-12 col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Ingresos por cliente</h5>
                                            </div>
                                            <div class="card-block">
                                                <canvas id="myCanvas" width="400" height="400"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    
    <!-- chart-morris Js -->
    <!-- <script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/pages/chart-morris-custom.js"></script>

    <script>
        var ingresos = {{ ingresos | safe}}
        var clientes = {{ clientes | safe }}

        // ingresos_json = JSON.stringify(ingresos);
        // [ bar-stacked ] chart start
        Morris.Bar({
            element: 'ingresos',
            data: ingresos,
            xkey: 'valor',
            ykeys: 'label',
            labels: clientes,
            barSizeRatio: 0.70,
        });
    // [ bar-stacked ] chart end
    </script> -->

    <!-- CharJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    <script>
        // Bar chart
        var clientes = {{ clientes | safe }} 
        var chartvalues = {{ ingreso_values | safe }}
        var chartlabels = {{ ingreso_labels | safe }}

        console.log('labels:', chartlabels)
        console.log('labels:', chartvalues)

        const labels = {{ ingreso_labels | safe }}
        const data = {
            labels: labels,
            datasets: [{
                axis: 'y',
                label: 'Ingresos por Cliente',
                data: chartvalues,
                fill: false,
                barThickness: "flex",
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        }

        new Chart(document.getElementById("myCanvas"), {
            type: 'horizontalBar',
            data: data,
            options: {
                indexAxis: 'y',
                maintainAspectRatio: false,
            }
        });

    </script>

    <script>
        $(document).ready(function () {
            $('#data').DataTable();
        });
    </script>


{% endblock javascripts %}
