{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Info</h5>
                                        </div>
                                        <div class="card-block">
                                            <form  method="POST" action="/profile/{{current_user.id}}">
                                                {{ form.csrf_token }}

                                                <div hidden >
                                                    {{ form.data.password }}
                                                </div>


                                                <div class="row">
                                                    <div class="col-sm-6 mb-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputUsername">Username</label>
                                                            <input class="form-control" id="exampleInputUsername" readonly 
                                                                value="{{ form.data.username }}"
                                                                aria-describedby="userHelp" placeholder="Enter email">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <div class="form-group">
                                                            <label {% if not current_user.email %} class="text-danger" {% endif %} 
                                                                for="exampleInputEmail1">Email</label>
                                                            <input type="email"
                                                                {% if form.data.email %} readonly value="{{ form.data.email }}" {% endif %}  
                                                                class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                            {% if not form.data.email %}       
                                                                <small id="emailHelp" class="form-text text-danger">
                                                                    You don't have an email address associated with this account.
                                                                </small>
                                                            {% endif %}    
                                                        </div>
                                                    </div>                                                
                                                
                                                    <div class="col-sm-6 mb-4">
                                                        <div class="form-group">
                                                            {{ form.first_name.label  }}
                                                            {{ form.first_name(class_="form-control") }}
                                                        </div>
                                                        {% if not form.first_name %}       
                                                            <small id="first_namehelp" class="form-text text-danger">
                                                                No tienes nombres asociados a esta cuenta.
                                                            </small>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <div class="form-group">
                                                            {{ form.last_name.label  }}
                                                            {{ form.last_name(class_="form-control") }}
                                                        </div>
                                                        {% if not form.last_name %}       
                                                            <small id="last_nameHelp" class="form-text text-danger">
                                                                No tienes apellidos asociados a esta cuenta.
                                                            </small>
                                                        {% endif %}
                                                    </div>

                                                    <div class="col-sm-6 mb-6">
                                                        <div class="form-group">
                                                            {{ form.address.label  }}
                                                            {{ form.address(class_="form-control") }}
                                                        </div>
                                                        {% if not form.address %}       
                                                            <small id="addresshelp" class="form-text text-danger">
                                                                No tienes direccion asociada a esta cuenta.
                                                            </small>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-sm-6 mb-6">
                                                        <div class="form-group">
                                                            {{ form.phone.label  }}
                                                            {{ form.phone(class_="form-control") }}
                                                        </div>
                                                        {% if not form.phone %}       
                                                            <small id="addresshelp" class="form-text text-danger">
                                                                No tienes un numero de telefono asociada a esta cuenta.
                                                            </small>
                                                        {% endif %}
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                {{ form.rut.label  }}
                                                                {{ form.rut(class_="form-control") }}
                                                                <!-- <small id="tipo_cuenta_help" class="form-text text-muted">Seleccione un tipo de cuenta.</small> -->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                {{ form.tipo_cuenta.label  }}
                                                                {{ form.tipo_cuenta(class_="form-control") }}
                                                                <small id="tipo_cuenta_help" class="form-text text-muted">Seleccione un tipo de cuenta.</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                {{ form.banco.label  }}
                                                                {{ form.banco(class_="form-control") }}
                                                                <!-- <small id="tipo_cuenta_help" class="form-text text-muted">Seleccione un tipo de cuenta.</small> -->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                {{ form.ncuenta.label  }}
                                                                {{ form.ncuenta(class_="form-control") }}
                                                                <!-- <small id="tipo_cuenta_help" class="form-text text-muted">Seleccione un tipo de cuenta.</small> -->
                                                            </div>
                                                        </div>
                                                    </div>  
                                                    <!--
                                                    <div class="col-sm-12 mb-4">
                                                        <div class="form-group">
                                                            <label for="abt">About Info</label>
                                                            <textarea type="email" class="form-control" id="abt" aria-describedby="emailHelp" placeholder="Bio"></textarea>
                                                            <small id="abf" class="form-text text-muted">We'll show this on your profile.</small>
                                                        </div>
                                                    </div>
                                                    -->

                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            {{ form.errors or '' }}
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group" style="text-align:right">
                                                                {{ form.submit(class="btn btn-primary") }}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--
                                                    <div class="col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </div>                                                
                                                    -->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ config.ASSETS_ROOT }}/images/user/profile.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ current_user.username }}
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        {% if current_user.email %} {{ current_user.email }} {% endif %}
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    This page is your private space.
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center">
                                            
                                                <a href="https://github.com/app-generator/app-generator" 
                                                   target="_blank" 
                                                   class="h6 text-muted d-block m-1"><i
                                                   class="icon feather icon-github"></i></a>

                                                <a href="https://twitter.com/webappseed" 
                                                   target="_blank" 
                                                   class="h6 text-muted d-block m-1"><i
                                                   class="icon feather icon-twitter"></i></a>

                                                <a href="https://appseed.us/support/" 
                                                   target="_blank" 
                                                   class="h6 text-muted d-block m-1"><i
                                                   class="icon feather icon-help-circle"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
